<div id="<%= dom_id list %>">
  <T
  <p>
    <strong>Employee name:</strong>
    <%= list.employee_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= list.age %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= list.gender %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= list.designation %>
  </p>

</div>
